.loginPage {
    background: url('./images/loginback.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("./images/loginback.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}


ul li :hover{
    background-color: gray;
    
}

.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile_name{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding: 3px;
    font-size: 35px;
    font-weight: bold;
    background: cornsilk;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}


